In [ ]:
first = 'st'
second = 'nd'
third = 'rd'
fourth = 'th'
def century(year): 
    number = round((year//100)+1)
    number_str = str(number)
    if number >= 10 and number < 20: 
        return number_str + fourth
    elif number_str[len(number_str)-1] == '1':
        return number_str + first
    elif number_str[len(number_str)-1] == '2':
        return number_str + second
    elif number_str[len(number_str)-1] == '3':
        return number_str + third                
    else: 
        return number_str + fourth

print(century(2000))          
print(century(2001))         
print(century(1965)) 
print(century(256))         
print(century(5))            
print(century(10103))       
print(century(1052))         
print(century(1127))         
print(century(11201))

21st
21st
20th
3rd
1st
102nd
11th
12th
113rd

In [ ]:
first = 'st'
second = 'nd'
third = 'rd'
fourth = 'th'
def century(year): 
    number = round(year//100) + 1
    number_str = str(number)
    if number >= 10 and number <= 20: 
        return number_str +  fourth
    elif number_str[len(number_str)-1] == '1':
        return number_str + first
    elif number_str[len(number_str)-1] == '2':
        return number_str + second
    elif number_str[len(number_str)-1] == '3':
        return number_str + third                
    else: 
        return number_str + fourth 

print(century(2000))          
print(century(2001))         
print(century(1965)) 
print(century(256))         
print(century(5))            
print(century(10103))       
print(century(1052))         
print(century(1127))         
print(century(11201))

21st
21st
20th
3rd
1st
102nd
11th
12th
113rd

In [ ]:
my_variable = 'Hello, World'
my_variable = 23
print(my_variable)

23